.sheet-sidebar h2,
.sheet-body h2 {
	margin-top: 16px;
}

.partysheet-sidebar-row {
	display: flex;
	justify-content: center;
	padding-left: 4px;
	padding-right: 4px;
}

.partysheet-sidebar-label {
	width: 55%;
	text-align: right;
}

.partysheet-sidebar-data {
	width: 45%;
	display: flex;
	text-align: center;
	justify-content: flex-end;
}

.partysheet-sidebar-data div {
	width: 30%;
	text-align: right;
}

.partysheet-party-pane li,
.partysheet-party-pane span {
	vertical-align: middle;
}